
.container {
  font-family: "Roboto";
  display: flex;
  justify-content: center;
  padding: 30px;
}


.scrolling-container {
  display: block;
  width: 300px;
  height: 200px;
  overflow-y: scroll;
  scrollbar-width: none;
}

